<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <client>
      <endpoint name="Common.Interfejsi.ILogovanjeServis"
      address="net.tcp://localhost:4001/ILogovanjeServis"
      binding="netTcpBinding"
      contract="Common.Interfejsi.ILogovanjeServis"/>

      <endpoint name="Common.Interfejsi.IDataServis"
      address="net.tcp://localhost:4001/IDataServis"
      binding="netTcpBinding"
      contract="Common.Interfejsi.IDataServis"/>

      <endpoint name="Common.Interfejsi.IKorisnikServis"
      address="net.tcp://localhost:4001/IKorisnikServis"
      binding="netTcpBinding"
      contract="Common.Interfejsi.IKorisnikServis"/>
    </client>
  </system.serviceModel>

  
  <appSettings>
    <add key="log4net.Config" value="log4.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
  </appSettings>

</configuration>